<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/introduce.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<style></style>
<body>
    <div class="container">
        <header>
            <h1>Nhóm <span>4</span></h1>
            <div class="underline"></div>
        </header>
        
        <div class="team-grid">
            <div class="team-member">
                <div class="image-container blue-bg">
                    <img src="/static/css/images/man.jpg" alt="Team Member 1">
                </div>
                <h2>Vương Văn Mẫn</h2>
                <h4>2224802010848</h4>
                <p>Thiết kế các chức năng tìm kiếm, phân trang và viết báo cáo.</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            
            <div class="team-member">
                <div class="image-container">
                    <img src="/static/css/images/trung.jpg" alt="Team Member 2">
                </div>
                <h2>Đặng Đình Trung</h2>
                <h4>2224802010902</h4>
                <p>Thực hiện tìm kiếm các trang website, crawl dữ liệu và xử lý dữ liệu và viết báo cáo.</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            
            <div class="team-member">
                <div class="image-container blue-bg">
                    <img src="/static/css/images/duy.jpg" alt="Team Member 3">
                </div>
                <h2>Nguyễn Hữu Duy</h2>
                <h4>2224802010789</h4>
                <p>Thiết kế giao diện và viết chức năng tìm kiếm, phân trang và viết báo cáo.</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="next-page">
            <a href="{{ url_for('thamkhao') }}" class="next-button">Trang sau →</a>
        </div>
    </div>
</body>
</html>